/* examples/custom-styling.css */
.customOverlay {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      backdrop-filter: blur(8px);
}

.customModal {
    background: #202020;
    border-radius: 20px;
    width: 25%;
    top: 30%;
    text-align: center;
}
@media only screen and (max-width: 600px) {
  .customModal {
      background: #202020;
      width: 75%;
  }
}